[project]
	description = "  Secure Telephone Identity Management in Session Initiation Protocol"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pp8491
[access "refs/for/refs/*"]
	read = group user/pp8491
	push = group user/pp8491
	label-Code-Review = -2..+2 group user/pp8491
	label-Verified = -1..+1 group user/pp8491
	rebase = group user/pp8491
	removeReviewer = group user/pp8491
	submit = group user/pp8491
[access "refs/heads/*"]
	read = group user/pp8491
	create = group user/pp8491
	push = +force group user/pp8491
	pushMerge = group user/pp8491
[access "refs/tags/*"]
	push = group user/pp8491
	push = +force group user/pp8491
